<div class="container">
  
  <div class="row justify-content-around">

    <div class="col-md-3 trello-col" id="todo-col">
      <h3>To Do</h3>
      <div class="col-content">
        <div class="draggable" id="todo">
          <% @todo_list.each do |task| %>
            <div class="card" data-id="<%= task.id %>">
              <div class="card-content">
                <p><%= task.name %></p>
                <p class="date"><%= task.created_at.strftime("%d %b %Y") %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="add-task">
          <%= link_to new_task_path  do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>
    </div>
      
    <div class="col-md-3 trello-col" id="progress-col">
      <h3>In progress</h3>
      <div class="draggable" id="inprogress">
        <% @inprogress_list.each do |task| %>
          <div class="card" data-id="<%= task.id %>">
            <p><%= task.name %> </p>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-3 trello-col" id="done-col">
      <h3>Done</h3>
      <div class="done draggable" id="done">
      <% @done_list.each do |task| %>
        <div class="card" data-id="<%= task.id %>">
          <p><%= task.name %> </p>
        </div>
      <% end %>
      </div>
    </div>
  
  </div>
</div>